{% sw_extends '@Storefront/storefront/page/product-detail/description.html.twig' %}



                {% block page_product_detail_description_content_text %}
                    <div class="product-detail-description-text"
                         itemprop="description">
                        {{ page.product.translated.description|raw }}
                        <hr>
                        {{ "customFields.custom_field_products_min_amount_discount" |trans }} : {{(page.product.translated.customFields.custom_field_products_min_amount_discount)}}

                    </div>


                    
                {% endblock %}


